<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Gephisto</title>
  <meta name="description" content="Get a network map in one click.">
  <meta name="author" content="Mathieu Jacomy">

  <meta property="og:title" content="Gephisto">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://jacomyma.github.io/gephisto">
  <meta property="og:description" content="Get a network map in one click.">
  <meta property="og:image" content="img/gephisto-closeup.png">

  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="assets/buefy@0.9.22_dist_buefy.min.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-411KVD0KQW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-411KVD0KQW');
  </script>

  <style>
    .gephisto-hipster {
      background-color: #FF0;
      position: relative;
    }
    .gephisto-hipster img{
      min-height: 500px;
      max-height: 500px;
      min-width: 352.682px;
      max-width: 352.682px;
      top: 180px;
      left: -16.4em;
      position: absolute;
      z-index: 10;
      pointer-events: none
    }
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <div id="fingerprint-overlay" style="position: relative;">
  </div>
  <section class="section" id="app" v-cloak>
    <!-- UI for everything except rendering -->
    <div class="container" v-if="!renderedState">
      <div class="is-hidden-tablet">
        <h1 class="title" style="color:#ff85c2">
          Gephisto
        </h1>
        <p class="subtitle">
          grants you a <strong>network map</strong> in one click.
        </p>
        <br>
      </div>
      <div class="columns is-mobile">
        <div class="column is-hidden-mobile">
          <h1 class="title" style="color:#ff85c2">
            Gephisto
          </h1>
          <p class="subtitle">
            grants you a <strong>network map</strong> in one click.
          </p>
        </div>
        <div class="column is-12-mobile is-three-quarters-tablet is-three-fifths-desktop is-two-fifths-widescreen">
          <div class="gephisto-hipster is-unselectable">
            <img src="img/gephisto-hipster.png">
          </div>
          <div class="box">
            <!-- UPLOAD STATE -->
            <div v-if="!file && !waitingState">
              <b-field>
                <b-upload
                  v-model="file"
                  expanded
                  v-on:input="uploadFile"
                  style="min-height:280px"
                  drag-drop>
                  <section class="section">
                    <div class="content has-text-centered">
                      <p>
                        <b-icon
                          icon="upload"
                          size="is-large"
                          style="margin-top: 24px">
                        </b-icon>
                      </p>
                      <p>
                        Drop your GEXF or GRAPHML here
                        <br>or click to upload
                      </p>
                    </div>
                  </section>
                </b-upload>
              </b-field>
              <div class="block has-text-centered" style="opacity:0.5">
                <small>
                  Or try a sample network:
                </small>
                <br>
                <b-button @click="loadSample('europe.gexf')"
                  class="button is-small is-light">
                  Europe
                </b-button>
                <b-button @click="loadSample('c-elegans.gexf')"
                  class="button is-small is-light">
                  C. Elegans
                </b-button>
                <b-button @click="loadSample('migrations.gexf')"
                  class="button is-small is-light">
                  Migrations
                </b-button>
                <b-button @click="loadSample('things-of-life.gexf')"
                  class="button is-small is-light">
                  Things of Life
                </b-button>
              </div>
            </div>

            <!-- CONFIRMATION STATE -->
            <div v-if="file && !waitingState">
              <div class="block is-size-5">
                <p>
                  I grant you <b>one great network visualization</b> in one click.
                  Not knowing what you want, I will make <em>arbitrary</em> calls when I need to.
                  Don't worry, my calls are always great, as far as anyone knows…
                </p>
              </div>
              <br>
              <div class="block has-text-right">
                <div style="height:66px">
                  <img src="img/gephisto-signature.jpg" style="height: 66px; opacity:0.8">
                </div>
                <small>(else you can always use <a href="https://gephi.org">Gephi</a>)</small>
              </div>
              <br>
              <div class="block">
                <b-button @click="acceptPact"
                  class="button is-large is-fullwidth is-danger is-focused">
                  OK &nbsp;<i style="opacity:0.6">(sign in blood)</i>
                </b-button>
              </div>
              <div class="block" v-if="canvas">
                <b-button @click="redo"
                  icon-left="redo"
                  class="button is-large is-fullwidth is-light is-focused">
                  REDO
                </b-button>
              </div>
            </div>

            <!-- WAITING STATE -->
            <div v-if="waitingState">
              <div class="block">
                <p>
                  Please wait!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-one-fifth is-hidden-mobile is-hidden-tablet-only is-hidden-desktop-only is-hidden-widescreen-only">
        </div>
      </div>
    </div>

    <!-- RENDERED STATE -->
    <div v-if="renderedState" style="position:relative">
      <div id="renderingArea" style="position:absolute; margin: -3rem -1.5rem;"></div>
      <!-- Overlay commands -->
      <div style="position:absolute; width:270px;">
        
        <b-button @click="downloadCanvas"
          class="button is-success is-fullwidth"
          icon-left="download"
        >
          DOWNLOAD
        </b-button>
        <br>

        <b-button @click="undo"
          class="button is-light is-fullwidth"
          icon-left="undo"
        >
          UNDO
        </b-button>
        <br>

        <b-button @click="refresh"
          class="button is-danger is-light is-fullwidth"
          icon-left="refresh"
        >
          MAKE ANOTHER GREAT VIZ
        </b-button>
        <br>

        <b-field label="LEGEND (to copy-paste)"
          label-position="inside">
          <b-input type="textarea" v-model="legend">
          </b-input>
        </b-field>
        
      </div>
    </div>

    <!-- WAITING MODAL -->
    <b-modal v-model="waitingModalActive" :width="480" scroll="keep" :can-cancel="false" v-cloak>
      <div class="card">
        <div class="card-image">
            <figure class="image is-1by1">
                <img src="img/wait.png" alt="Image">
            </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <strong>You need to wait, but don't worry!</strong> Your browser is computing hard. The tab may freeze temporarily.
          </div>
        </div>
      </div>
    </b-modal>
  </section>

  <!-- SCRIPTS (DEV ONLY) -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
  <!-- SCRIPTS (PROD ONLY) -->  
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
  <!-- SCRIPTS -->
  <script src="assets/buefy@0.9.22_dist_buefy.min.js"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/graphology@0.21.1/dist/graphology.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/graphology-library@0.6.0/dist/graphology-library.min.js"></script>
  <script src="https://bundle.run/graphology-layout@0.3.2"></script>
  <script src="https://bundle.run/graphology-layout-forceatlas2@0.5.2"></script>
  <script src="js/FileSaver.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/renderer.js"></script>
</body>
</html>